Applications/AadharVaultTokenAPI/RemoteFiles/SafeNetTokenizer_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://token.safenet.com/xsd" xmlns:ax21="http://token.safenet.com/xsd" xmlns:ax22="http://ws.apache.org/axis2" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://ws.apache.org/axis2" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://ws.apache.org/axis2" schemaLocation="SafeNetTokenizer_InlineSchema1.xsd"/>
            <xsd:complexType name="TokenException">
                <xsd:complexContent>
                    <xsd:extension base="ax22:Exception">
                        <xsd:sequence/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="SiteBean">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="errorMessage" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="rowsUpdated" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="siteID" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TmResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="batchError" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="batchErrorMessage" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="errorIndex" nillable="true" type="xsd:int"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="errorMessage" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="output" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="statusBatchError" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="statusOk" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="statusRowError" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="statusType" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>